<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-role>
		<description></description>
		<role-name> manage</role-name>
	</security-role>
    <!-- 추가 구현 : 여러 개의 아이디와 비밀번호로도 관리자 로그인이 가능하게끔 구현 (여러 관리자가 있다고 가정) -->
    <!-- 계정 : tomcat, role1, admin, manage -->
    <!-- 
    id : tomcat pw : 123123
    id : role1  pw : 123123
    id : admin  pw : 123123
    id : manage pw : 123654
    -->
    	<security-role>
		<description></description>
		<role-name> tomcat</role-name>
	</security-role>
    	<security-role>
		<description></description>
		<role-name> role1</role-name>
	</security-role>
    	<security-role>
		<description></description>
		<role-name> admin</role-name>
	</security-role>
    
	<security-constraint>
		<display-name>WebMarket Security_01</display-name>
		<web-resource-collection>
			<web-resource-name>WebMarket</web-resource-name>
			<description></description>
			<url-pattern>/admin/index_ad.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>권한 관리자명</description>
			<role-name>manage</role-name>
            <role-name>tomcat</role-name>
            <role-name>role1</role-name>
            <role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login/login.jsp</form-login-page>
			<form-error-page>/login/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>
